@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Montserrat:wght@300&family=Roboto+Condensed:wght@300&family=Rubik+Gemstones&family=Rubik:wght@300&family=Unbounded:wght@300;400&display=swap'); 
#singlerooms{
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: rgb(251, 249, 248);
    font-family: 'Montserrat', sans-serif;
}
#select input{
    width: 100%;
    margin: 5px;
}