@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Montserrat:wght@300&family=Roboto+Condensed:wght@300&family=Rubik+Gemstones&family=Rubik:wght@300&family=Unbounded:wght@300;400&display=swap'); 
#roomlist{
    width: 100%;
    height: 100%;
    background-color: rgb(236, 241, 241);
    font-size: 15px;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
}
#roomlist #img img{
    height:100%;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}
#roomlist #info #cont{
    width: 200px;
    display: flex;
    justify-content: space-between;

    margin-bottom: 5px;
}
#girls{
    background-color: rgb(245, 10, 10);
    color: #fff;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}